Django==5.1.7
psycopg2-binary==2.9.10
gunicorn==23.0.0
python-dotenv==1.1.0
djangorestframework==3.16.0
django-import-export
django-cors-headers
djangorestframework-simplejwt==5.5.1
requests==2.31.0
urllib3==2.0.7
setuptools>=80.0.0
transliterate==1.10.2
whitenoise==6.8.2
icalendar==5.0.11
boto3==1.35.54
